# 1. Variables

In [1]:
# Assigning an integer value to a variable
x = 10    # x now holds the value 10

# Assigning a string value to a variable
name = "Alpha"   # name now stores the text "Arjun"

In [2]:
# Naming convensions

user_age = 25
_total_count = 10

# Avoid - 1age, user-age, class

## 1.1 Checking Data Types

In [2]:
# Checking Data Types
# Assign an integer value to x
x = 10

# Check and print the data type of x
print(type(x))    # Expected output: <class 'int'>

# Assign a floating-point value to y
y = 3.14

# Check and print the data type of y
print(type(y))    # Expected output: <class 'float'>

<class 'int'>
<class 'float'>

## 1.2 Number Operations

In [ ]:
# Define two numbers
a = 10
b = 3

# Basic arithmetic operations
print(a + b)   # Addition
print(a - b)   # Subtraction
print(a * b)   # Multiplication
print(a / b)   # Division (float result)

# Special arithmetic operations
print(a // b)  # Floor division (quotient without decimals)
print(a % b)   # Modulus (remainder)
print(a ** b)  # Power (a raised to b)

13
7
30
3.3333333333333335
3
1
1000

In [6]:
# Auto assignment 
x = 10
x+=5
print(x)

15

## 1.3 Type conversion

In [ ]:
# Convert float to integer (removes decimal part)
x = int(3.7)   # Result: 3

# Convert integer to float
y = float(5)   # Result: 5.0

# Convert integer to string
z = str(10)    # Result: "10"

## 1.4 Memory intuition 

- Same value → may point to same object
- Why small integers are cached

In [3]:
x = 10
y = 10
print(id(x), id(y))

4309822664 4309822664

## 1.5 Multiple assignments and swapping

In [4]:
a, b = 5, 10
b, a = a, b

In [5]:
x = y = z = 0

## 1.6 Character operations

In [ ]:
# Creating string 

name = "Python"
char = 'A'


# Indexing 
text = "Python"
print(text[0])   # P
print(text[-1])  # n

# Slicing 
text = "Python"
print(text[1:4])   # yth
print(text[:3])    # Pyt
print(text[3:])    # hon


# String formatting 
name = "Alex"
age = 20
print(f"My name is {name} and I am {age} years old")

# Character properties 
ch = "A"
print(ch.isalpha())   # True
print(ch.isdigit())   # False
print(ch.isupper())   # True
print(ch.islower())   # False

# 2. Lists

## 2.1 Creating Lists

In [ ]:
# Empty list
my_list = []

# List with different data types
my_list = [1, 'apple', 3.5]

# List created using the list() constructor with range()
numbers = list(range(1, 6))   # Result: [1, 2, 3, 4, 5]

# Creating a list from another sequence (string → list of characters)
letters = list("Python")      # Result: ['P', 'y', 't', 'h', 'o', 'n']

## 2.2 Accessing List Elements

In [ ]:
# A list of fruits
fruits = ['apple', 'banana', 'cherry']

# Accessing the first element (index 0)
print(fruits[0])    # Output: apple

# Accessing the last element using negative indexing
print(fruits[-1])   # Output: cherry

apple
cherry

## 2.3 Modifying List Elements

In [ ]:
# Initial list
numbers = [1, 2, 3, 4]

# Change an element (replace value at index 1)
numbers[1] = 9          # Result: [1, 9, 3, 4]

# Add a new item at the end
numbers.append(5)       # Result: [1, 9, 3, 4, 5]

# Insert an item at a specific position (index 0)
numbers.insert(0, 0)    # Result: [0, 1, 9, 3, 4, 5]

# Remove the first occurrence of a value
numbers.remove(3)       # Result: [0, 1, 9, 4, 5]

# Remove item at a specific index (index 2)
del numbers[2]          # Result: [0, 1, 4, 5]

# pop an item from the end
last_item = numbers.pop()  # last_item = 5, numbers = [0, 1, 4]

# clearing the entire list
numbers.clear()          # Result: []

## 2.4 Sorting and Reversing

In [ ]:
colors = ['red', 'blue', 'green']

# Sort the list alphabetically - 
colors.sort()          # Result: ['blue', 'green', 'red']

sorted_colors = sorted(colors)  # New sorted list
print(sorted_colors)           # Output: ['blue', 'green', 'red']

# Reverse the list order
colors.reverse()       # Result: ['red', 'green', 'blue']

['blue', 'green', 'red']

## 2.5 Counting and Finding

In [ ]:
numbers = [1, 2, 3, 2, 1]

# Count how many times 2 appears
count = numbers.count(2)     # Result: 2

# Find the index of the first occurrence of 3
index = numbers.index(3)     # Result: 2

## 2.6 Adding and Extending

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5]

# Extend list1 by adding all elements of list2
list1.extend(list2)    # Result: [1, 2, 3, 4, 5]

## 2.7 Slicing Lists

In [ ]:
# Original list
letters = ['a', 'b', 'c', 'd', 'e']

# Get elements from index 1 to 3 (stop index is excluded)
sliced_list = letters[1:4]      # Result: ['b', 'c', 'd']

# Get all elements from index 2 onwards
subset = letters[2:]            # Result: ['c', 'd', 'e']

# Get every second element using step
every_second = letters[::2]     # Result: ['a', 'c', 'e']

# Reverse a list using slicing
reversed_list = letters[::-1]   # Result: ['e', 'd', 'c', 'b', 'a']

## 2.8 List mutability

In [8]:
a = [1, 2, 3]
b = a
b.append(4)

print(a, b)  # Both a and b will show [1, 2, 3, 4]

[1, 2, 3, 4] [1, 2, 3, 4]

## 2.9 Shallow copy vs Reference

In [9]:
a = [1, 2]
b = a          # reference
c = a.copy()   # shallow copy
print(id(a), id(b), id(c))

4425574464 4425574464 4425518528

## 2.10 Memebrship & Comparison

In [10]:
3 in [1, 2, 3] # True
[1, 2] == [1, 2] # True

True

## 2.10 List Comprehension

In [ ]:
squares = [x*x for x in range(5)]

print(squares)  # Output: [0, 1, 4, 9, 16]

[0, 1, 4, 9, 16]

In [17]:
nums = [1,2,3,4,5,6,7,8,9]
evens = [x for x in nums if x % 2 == 0]
print(evens)  # Output: [2, 4, 6, 8]

[2, 4, 6, 8]

# 3. Tuple

## 3.1 How to Create a Tuple

In [ ]:
# Empty tuple
empty_tuple = ()

# Tuple with different data types
mixed_tuple = (1, 'apple', 3.5)

# Single-item tuple (must include a trailing comma)
single_item_tuple = (5,)     # Without the comma, (5) is just an integer

# Tuple created without parentheses (tuple packing)
coordinates = 10, 20, 30     # Result: (10, 20, 30)

# Using the tuple() constructor
vowels = tuple('aeiou')      # Result: ('a', 'e', 'i', 'o', 'u')

## 3.2 Accessing Tuple Elements

In [ ]:
# A tuple of fruits
fruits = ('apple', 'banana', 'cherry')

# Access by positive index
print(fruits[0])     # Output: apple

# Access by negative index
print(fruits[-1])    # Output: cherry

# Unpacking a tuple into variables
a, b, c = fruits
print(b)             # Output: banana

apple
cherry
banana

## 3.3 Tuple Operations

In [ ]:
numbers = (1, 2, 3, 4)

# Slicing
print(numbers[1:3])        # Output: (2, 3)

# Concatenation
combined = numbers + (5, 6)    # Result: (1, 2, 3, 4, 5, 6)

# Repetition
print(numbers * 2)         # Output: (1, 2, 3, 4, 1, 2, 3, 4)

# Finding min/max
print(min(numbers))        # Output: 1
print(max(numbers))        # Output: 4

# Count occurrences
print(numbers.count(2))    # Output: 1

(2, 3)
(1, 2, 3, 4, 1, 2, 3, 4)
1
4
1

## 3.4 Immutability

In [25]:
t = (1, 2, 3)
# t[0] = 10   # ❌ Error

## 3.5 Nested tuples

In [24]:
t = ((1, 2), (3, 4))

t[0][1]

2

# 4. Set

## 4.1 How to Create a Set

In [ ]:
# Empty set
empty_set = set()          # NOT {} — {} creates an empty dictionary

# Set with elements
fruits = {'apple', 'banana', 'cherry'}

# Set with different data types
mixed_set = {1, 'apple', 3.5}

# Creating a set from another iterable (duplicates removed)
numbers = set([1, 2, 2, 3, 4, 4])   # Result: {1, 2, 3, 4}

## 4.2 Properties of Sets

In [ ]:
# ----------------------
# Unordered (no indexing)
# ----------------------
fruits = {'apple', 'banana', 'cherry'}

# This will raise an error because sets don't support indexing:
# print(fruits[0])   # ❌ TypeError


# ----------------------
# Unique Elements
# ----------------------
numbers = set([1, 2, 2, 3, 3, 3])
print(numbers)       # Output: {1, 2, 3}


# ----------------------
# Mutable but with Restrictions
# ----------------------

# Works because tuples are immutable
s = {1, 2, (3, 4)}

# Fails because lists are mutable
# s = {1, 2, [3, 4]}   # ❌ TypeError: unhashable type: 'list'

{1, 2, 3}

## 4.3 Common Operations on Sets

In [ ]:
# Starting set
fruits = {'apple', 'banana', 'cherry'}

# Adding elements
fruits.add('orange')        # Result: {'apple', 'banana', 'cherry', 'orange'}

# Removing elements (error if not found)
# fruits.remove('banana')   # Works
# fruits.remove('pear')     # ❌ KeyError

# Remove without error
fruits.discard('pear')      # No error if not found

# Checking membership
print('apple' in fruits)    # Output: True

# Length of a set
print(len(fruits))          # Example output: 3


# Other methods:
# pop()      → removes and returns an arbitrary element
# clear()    → removes all elements
# copy()     → returns a shallow copy

True
4

## 4.4 Mathematical Operations on Sets

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# ----------------------
# Union
# ----------------------
print(set1 | set2)               # Output: {1, 2, 3, 4, 5}
print(set1.union(set2))          # Same result


# ----------------------
# Intersection
# ----------------------
print(set1 & set2)               # Output: {3}
print(set1.intersection(set2))   # Same result


# ----------------------
# Difference
# ----------------------
print(set1 - set2)               # Output: {1, 2}
print(set1.difference(set2))     # Same result


# ----------------------
# Symmetric Difference
# ----------------------
print(set1 ^ set2)                      # Output: {1, 2, 4, 5}
print(set1.symmetric_difference(set2))  # Same result

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}
{3}
{3}
{1, 2}
{1, 2}
{1, 2, 4, 5}
{1, 2, 4, 5}

## 4.5 Use Cases of Sets

In [17]:
# ============================================================
#  Use Cases of Sets
# ============================================================

# ----------------------
# Removing Duplicates
# ----------------------
items = ['apple', 'banana', 'apple', 'orange']
unique_items = set(items)        # Output: {'orange', 'banana', 'apple'}


# ----------------------
# Membership Testing
# ----------------------
fruits = {'apple', 'banana', 'cherry'}
print('banana' in fruits)        # Output: True


# ----------------------
# Finding Unique or Common Elements
# ----------------------
visitors_day1 = {'Alice', 'Bob', 'Charlie'}
visitors_day2 = {'Bob', 'David', 'Eve'}

# Common visitors (intersection)
returning = visitors_day1 & visitors_day2   # Output: {'Bob'}

# All visitors (union)
all_visitors = visitors_day1 | visitors_day2

True

# 5. Dictionary

## 5.1 How to Create a Dictionary

In [ ]:
# Empty dictionary
empty_dict = {}            # OR dict()

# Dictionary with items
person = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Using dict() constructor
car = dict(make='Toyota', model='Corolla', year=2020)

# Dictionary from list of tuples
items = [('apples', 5), ('bananas', 3)]
fruit_count = dict(items)     # Output: {'apples': 5, 'bananas': 3}

# Dictionary comprehension
squares = {x: x**2 for x in range(6)}
# Output: {0:0, 1:1, 2:4, 3:9, 4:16, 5:25}

## 5.2 Accessing and Modifying Dictionary Elements

In [ ]:
# ----------------------
# Accessing Values
# ----------------------
person = {'name': 'Alice', 'age': 25}

print(person['name'])          # Output: Alice
print(person.get('city'))      # Output: None
print(person.get('city', 'Unknown'))   # Output: Unknown


# ----------------------
# Adding & Updating
# ----------------------
# Add new key-value pair
person['city'] = 'New York'

# Update an existing value
person['age'] = 26

# Update multiple values at once
person.update({'age': 27, 'job': 'Engineer'})


# ----------------------
# Removing Items
# ----------------------
# Remove a specific key-value pair
del person['city']

# Remove and return a value
job = person.pop('job')         # Returns 'Engineer'

# Remove and return last inserted item (Python 3.7+)
last_item = person.popitem()

# Remove all items
person.clear()

Alice
None
Unknown

## 5.3 Dictionary Methods

In [ ]:
person = {'name': 'Alice', 'age': 25}

# Getting keys as a view object
keys = person.keys()           # dict_keys(['name', 'age'])

# Getting values as a view object
values = person.values()       # dict_values(['Alice', 25])

# Getting key-value pairs as a view object
items = person.items()         # dict_items([('name', 'Alice'), ('age', 25)])

# Copy a dictionary
person_copy = person.copy()

# Create a new dictionary with default values
template = dict.fromkeys(['name', 'age', 'city'], 'Unknown')
# {'name': 'Unknown', 'age': 'Unknown', 'city': 'Unknown'}

In [21]:
# View objects auto-update when dictionary changes
person = {'name': 'Alice'}
k = person.keys()

print(k)              # dict_keys(['name'])

person['age'] = 25
print(k)              # dict_keys(['name', 'age']) → auto-updated

dict_keys(['name'])
dict_keys(['name', 'age'])

## 5.4 Nested Dictionaries

In [ ]:
# Employee records with nested information
employees = {
    'emp1': {
        'name': 'Alice',
        'age': 25,
        'skills': ['Python', 'SQL'],
        'contact': {
            'email': 'alice@example.com',
            'phone': '555-1234'
        }
    },
    'emp2': {
        'name': 'Bob',
        'age': 30,
        'skills': ['Java', 'C++'],
        'contact': {
            'email': 'bob@example.com',
            'phone': '555-5678'
        }
    }
}

# Accessing nested data
print(employees['emp1']['name'])                 # Output: Alice
print(employees['emp2']['contact']['email'])     # Output: bob@example.com

# Safely accessing deep keys using get()
email = employees.get('emp3', {}).get('contact', {}).get('email')
print(email)                                      # Output: None (emp3 doesn't exist)

Alice
bob@example.com
None

## 5.5 Limitations of Dictionaries

In [ ]:
# ----------------------
# Key Restrictions
# ----------------------
# ✔ Works: tuple as a dictionary key (immutable)
d = {(1, 2): 'tuple key'}
print(d[(1, 2)])        # Output: 'tuple key'

# ❌ Error: lists are mutable → cannot be keys
# d = {[1, 2]: 'list key'}          # TypeError

# ❌ Error: sets are mutable → cannot be keys
# d = {{1, 2}: 'set key'}           # TypeError


# ----------------------
# Memory Usage
# ----------------------
# (No code needed — conceptual)


# ----------------------
# Order Considerations
# ----------------------
# Python 3.7+ preserves insertion order:
demo = {}
demo['a'] = 1
demo['b'] = 2
demo['c'] = 3
print(demo)     # {'a': 1, 'b': 2, 'c': 3}

tuple key
{'a': 1, 'b': 2, 'c': 3}

## 5.6 Accesing specific rows/elements

In [30]:
dict1 = {'emp1':{'name': 'Goura', 'age': 31, 'city': 'Disney'},
         'emp2':{'name': 'Mohan', 'age': 29, 'city': 'Orlando'},
         'emp3':{'name': 'Sundar', 'age': 25, 'city': 'California'}
        }

# Using list to access specific item
print(list(dict1.items())[1])

# Using iterator
iterator = iter(dict1.values())
next(iterator)        # skip first
second_value = next(iterator)
print(second_value)

('emp2', {'name': 'Mohan', 'age': 29, 'city': 'Orlando'})
{'name': 'Mohan', 'age': 29, 'city': 'Orlando'}

## 5.7 Dictionary Comprehensions

In [52]:
squares = {x: x**2 for x in range(5)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

## 5.8 Filtering dictionaries

In [57]:
squares = {x: x*x for x in range(6)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [58]:
squares.items()

# iter-1 
# k=5
# v=25

dict_items([(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)])

In [59]:
filtered = {k: v for k, v in squares.items() if v > 10}
filtered

{4: 16, 5: 25}

## 5.9 Merging dictionaries

In [60]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict3 = dict1 | dict2
dict3

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [62]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'd': 4}
dict3 = dict2 | dict1
dict3

{'b': 2, 'd': 4, 'a': 1}

## 5.10 Sorting dictionaries

### 5.10.1 Sorting by keys

In [ ]:
my_dict = {'b': 5, 'a': 7, 'c': 8}
dict(sorted(my_dict.items(), reverse=True))  # Ascending order by keys

{'c': 8, 'b': 5, 'a': 7}

### 5.10.2 Sorting by values

In [66]:
my_dict = {'a': 50, 'b': 7, 'c': 8}
sorted_by_value = dict(sorted(my_dict.items(), key=lambda x: x[1]))
print(sorted_by_value)

{'b': 7, 'c': 8, 'a': 50}

In [70]:
sorted(my_dict.items(), key=lambda x: x[1])

[('b', 7), ('c', 8), ('a', 50)]